<span class="auth-shell__eyebrow">Daily Reflections</span>
<h2>Login to continue</h2>
<p class="lead">
  Welcome back, sign in with your existing Daily Reflections account credentials
</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-md-12">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Your email" %>
    </div>
    <div class="col-md-12">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Your password" %>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="col-md-12 auth-shell__remember">
        <div class="input-checkbox">
          <%= f.check_box :remember_me %>
          <label for="user_remember_me"></label>
        </div>
        <span>Remember me</span>
      </div>
    <% end -%>
    <div class="col-md-12">
      <%= f.submit "Login", class: "btn btn--primary type--uppercase auth-shell__submit" %>
    </div>
  </div>
<% end %>

<div class="auth-shell__links">
  <%= render "users/shared/links" %>
</div>
