<div class="container pos-vertical-center">
  <div class="row">
    <div class="col-md-7 col-lg-5">
      <h2>Login to continue</h2>
      <p class="lead">
          Welcome back, sign in with your existing Stack account credentials
      </p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <div class="col-md-12">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <div class="col-md-12">
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="col-md-4">
                <div class="input-checkbox">
                  <%= f.check_box :remember_me %>
                  <label for="checkbox"></label>
                </div>
                <span>Remember me</span>
            </div>
          <% end -%>
          <div class="col-md-12">
            <%= f.submit "Login", class: "btn btn--primary type--uppercase" %>
          </div>
        </div>
        <!--end of row-->
      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </div>
  <!--end of row-->
</div>
<!--end of container-->
