<div class="container post-form-page">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="d-flex justify-content-center mb-4">
        <h1>New post on studying topic</h1>
      </div>

      <%= simple_form_for [@project, @post], html: { class: 'post-form' } do |f| %>
        <div class="row">
          <div class="col-12 mb-4">
            <%= f.input :title, label: false, placeholder: "Title", input_html: { class: 'display-4 border-0 shadow-none px-0', style: 'font-weight: bold; background: transparent;' } %>
          </div>
          <div class="col-12 mb-3">
            <%= f.input :featured_image, label: "Add Cover", input_html: { class: 'form-control-file' } %>
          </div>
          <div class="col-12 mb-3">
            <%= f.input :short_description, label: false, placeholder: "Add a short description...", input_html: { class: 'lead border-0 shadow-none px-0', style: 'background: transparent;' } %>
          </div>

          <div class="col-12 mb-3">
            <div id="post-editor" data-project-id="<%= @project.id %>"></div>
            <%= f.input :body_json, as: :hidden, input_html: { id: 'post_body_json', value: @post.body_json.to_json } %>
          </div>

          <div class="col-12 mb-5">
            <%= f.input :public, as: :boolean, wrapper: :boolean, label: "Publicly visible", wrapper_html: { class: 'public-visibility-toggle' } %>
          </div>

          <div class="col-12 d-flex align-items-center justify-content-between border-top pt-4">
            <div>
              <%= f.button :submit, "Create Post", class: 'btn btn-primary' %>
              <%= link_to "Cancel", project_posts_path(@project), class: 'btn btn-link text-muted' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
