<% if current_user %>
  <div class="bar__module">
      <ul class="menu-horizontal">
          <li class="dropdown">
              <span class="dropdown__trigger">
                <%= image_tag "avatar-round-1.png", class: "avatar image--xxs round" %><%= current_user.email %>
              </span>
              <div class="dropdown__container">
                <div class="container">
                  <div class="row">
                    <div class="dropdown__content col-lg-2">
                      <ul class="menu-vertical">
                        <li>
                            <%= link_to "Log out", destroy_user_session_url, method: :delete %>
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
          </li>
      </ul>
  </div>

<% else %>
  <div class="bar__module">
    <%= link_to new_user_session_path, class: "btn btn--sm type--uppercase" do %>
      <span class="btn__text">
          Login
      </span>
    <% end %>

    <%= link_to new_user_registration_path, class: "btn btn--sm btn--primary type--uppercase" do %>
      <span class="btn__text">
         Signup
      </span>
    <% end %>
  </div>
<% end %>
