<% if current_user %>
  <div class="bar__module">
      <ul class="menu-horizontal">
          <li class="dropdown">
              <span class="dropdown__trigger">
                <%= image_tag "avatar-round-1.png", class: "avatar image--xxs round" %>
                <%= current_user.email %>
                <% if current_user.level.present? %>
                  <span class="badge-level">
                    <i class="icon-Trophy" style="margin-right: 4px;"></i>
                    <%= current_user.level.name %> 
                    <small>(Lvl <%= current_user.level.level_number %>)</small>
                  </span>
                <% end %>
              </span>
              <div class="dropdown__container">
                <div class="container">
                  <div class="row">
                    <div class="dropdown__content col-lg-2">
                      <ul class="menu-vertical">
                        <% if current_user.level.present? %>
                          <li>
                            <div class="points-display">
                              <i class="icon-Star" style="margin-right: 4px;"></i>
                              <%= current_user.total_points %> Points
                            </div>
                          </li>
                          <% if current_user.level.next_level %>
                            <li>
                              <small class="text-muted">
                                <%= current_user.level.points_to_next_level(current_user.total_points) %> points to 
                                <%= current_user.level.next_level.name %>
                              </small>
                              <% 
                                current_points = current_user.total_points - current_user.level.points_required
                                next_level_points = current_user.level.next_level.points_required - current_user.level.points_required
                                progress_percentage = (current_points.to_f / next_level_points * 100).round(1)
                              %>
                              <div class="progress mt-1" style="height: 4px;">
                                <div class="progress-bar" style="width: <%= progress_percentage %>%"></div>
                              </div>
                            </li>
                          <% end %>
                        <% end %>
                        <li>
                          <%= link_to "My Achievements", gamification_path %>
                        </li>
                        <li>
                          <%= link_to "Log out", destroy_user_session_url, method: :delete %>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
          </li>
      </ul>
  </div>

<% else %>
  <div class="bar__module">
    <%= link_to new_user_session_path, class: "btn btn--sm type--uppercase" do %>
      <span class="btn__text">
          Login
      </span>
    <% end %>

    <%= link_to new_user_registration_path, class: "btn btn--sm btn--primary type--uppercase" do %>
      <span class="btn__text">
         Signup
      </span>
    <% end %>
  </div>
<% end %>
