<%= render "small_header" %>

<nav id="menu2" class="bar bar-2 hidden-xs ">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 text-center text-left-sm hidden-xs order-lg-2">
        <div class="bar__module">
            <a href="/" style="text-decoration: none">
              <h2>Daily Reflections</h2>
            </a>
        </div>
        <!--end module-->
      </div>
      <div class="col-lg-4 order-lg-1">
        <div class="bar__module">
          <ul class="menu-horizontal text-left">
            <li>
              <%= link_to "Home", dashboards_url %>
            </li>
            <li>
              <%= link_to "Timetracker", timetracker_projects_url %>
            </li>
            <li class="dropdown">
              <span class="dropdown__trigger">History</span>
              <div class="dropdown__container">
                <div class="container">
                  <div class="row">
                    <div class="dropdown__content col-lg-2 col-md-4">
                      <ul class="menu-vertical">
                        <li>
                          <%= link_to "Reflections", reflections_url %>
                        </li>
                        <li>
                          <%= link_to "Day Ratings", day_ratings_url %>
                        </li>
                        <li>
                          <%= link_to "Energy Levels", energy_levels_url %>
                        </li>
                        <li>
                          <%= link_to "Biggest Challenges", biggest_challenges_url %>
                        </li>
                        <li>
                          <%= link_to "Daily Lessons", daily_lessons_url %>
                          <span></span>
                        </li>
                      </ul>
                    </div>
                    <!--end dropdown content-->
                  </div>
                  <!--end row-->
                </div>
              </div>
              <!--end dropdown container-->
            </li>
          </ul>
        </div>
        <!--end module-->
      </div>
      <div class="col-lg-5 text-right text-left-xs text-left-sm order-lg-3">
        <%= render "account_related_header_side" %>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</nav>
