<%= render "small_header" %>

<nav id="menu2" class="bar bar-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 text-center text-left-sm hidden-xs order-lg-2">
        <div class="bar__module">
            <a href="/" style="text-decoration: none">
              <h2>MyDay.<%= @app_title %></h2>
            </a>
        </div>
        <!--end module-->
      </div>
      <div class="col-lg-4 order-lg-1">
        <div class="bar__module">
          <ul class="menu-horizontal text-left">
            <li>
              <%= link_to "Today", dashboards_url %>
            </li>
            <li>
              <%= link_to "Crypto", crypto_holdings_path %>
            </li>
            <li class="dropdown">
              <span class="dropdown__trigger">History</span>
              <div class="dropdown__container" style="min-width: 200px;">
                <div class="dropdown__content p-3">
                  <ul class="menu-vertical">
                    <li>
                      <%= link_to "Reflections", reflections_url %>
                    </li>
                    <li>
                      <%= link_to "Day Ratings", day_ratings_url %>
                    </li>
                    <li>
                      <%= link_to "Energy Levels", energy_levels_url %>
                    </li>
                    <li>
                      <%= link_to "Mood History", moods_url %>
                    </li>
                    <li>
                      <%= link_to "Biggest Challenges", biggest_challenges_url %>
                    </li>
                    <li>
                      <%= link_to "Daily Lessons", daily_lessons_url %>
                    </li>
                    <li>
                      <%= link_to "Daily Gratitudes", daily_gratitudes_url %>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="dropdown">
              <span class="dropdown__trigger">Projects</span>
              <div class="dropdown__container" style="min-width: 300px;">
                <div class="dropdown__content p-3">
                  <% if current_user && current_user.projects.any? %>
                    <h5 class="mb-2">Projects</h5>
                    <div class="projects-list">
                      <% current_user.projects.where(closed: false).each do |project| %>
                        <div class="project-dropdown mb-2">
                          <div class="project-dropdown__trigger">
                            <h6 class="mb-0">
                              <%= link_to project.title, timetracker_project_tasks_path(project), class: "project-title-link" %>
                            </h6>
                          </div>
                          <div class="project-dropdown__content">
                            <ul class="menu-vertical">
                              <li><%= link_to "Timetracker", timetracker_project_tasks_path(project) %></li>
                              <li><%= link_to "Posts", project_posts_path(project) %></li>
                              <li><%= link_to "Materials", project_materials_path(project) %></li>
                              <li><%= link_to "Saved Links", project_saved_links_path(project) %></li>
                              <li><%= link_to "Todos", project_todos_path(project) %></li>
                            </ul>
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <div class="mt-3">
                      <%= link_to "All Projects", timetracker_projects_path, class: "btn btn-sm btn-primary" %>
                    </div>
                  <% else %>
                    <p>No projects yet.</p>
                    <%= link_to "Create your first project", new_timetracker_project_path, class: "btn btn-sm btn-primary" %>
                  <% end %>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!--end module-->
      </div>
      <div class="col-lg-5 text-right text-left-xs text-left-sm order-lg-3">
        <%= render "account_related_header_side" %>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</nav>
