<!DOCTYPE html>
<html>
  <head>
    <title>Daily Reflections</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="main-container">
      <%= render "header" %>
      <div class="container">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
